
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --font-primary: 'Open Sans', Arial, Helvetica, Verdana ;
  --primary: #8D65C5;
  --surface: #eee2ff;
  --black: #461f7a;
  --red: #dc3545;
  --success: #28A745;
}
body {
  font-family: var(--font-primary);
  background-color: var(--background);
}
main {
  padding: 4%;
}
div.field {
  margin-bottom: 2%;
}
textarea.textarea-text-report {
  width: 100%;
  padding: 2%;
  border-radius: 8px;
  outline: none;
  font-family: var(--font-primary)
}
textarea.textarea-text-report:focus{
  border-color: var(--primary);
  background-color: var(--surface);
  box-shadow: 0px 0px 12px -4px var(--black);
}
label.label-text-report{
  display: block;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}
div.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
button.btn {
  display: block;
  width: 50%;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  border-radius: 24px;
  border: none;
  background-color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  box-shadow: 0px 0px 8px -4px var(--black);
}
button.btn-clear-text-report {
  border: var(--surface) solid 1px;
  background-color: var(--surface);
  color: black;
}
button.btn-success {
  border: var(--surface) solid 1px;
  background-color: var(--success);
}
button.btn:hover {
  opacity: 0.8;
}
button.btn:active {
  opacity: 0.5;
}
button.btn-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

button.btn-red {
  background-color: var(--red);
}
section.box-paragraphs {
  margin-top: 4%;
  border: var(--primary) solid 1px;
  border-radius: 24px;
  box-shadow: 0px 0px 12px -4px var(--black);
  text-align: center;
}
section.box-paragraphs > h2 {
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 2%;
}
ul.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 4%;
  padding: 2%;
  list-style: none;
}
ul.paragraphs > li.paragraph {
  background-color: var(--surface);
  padding: 4%;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 1%
}
ul.paragraphs > li.paragraph > p {
  width: 90%;
}

div.actions-of-paragraph {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* MODAL */

#modal {
  visibility: hidden;
  width: 90vw;
  height: 90vh;
  background-color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0px 0px 18px -4px var(--black);
  border-radius: 24px;
  overflow: auto;
  left: 5vw;
}

div.exit-modal {
  display: flex;
  justify-content: end;
}

#modal.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s
}

#modal > svg {
  width: min-content
}

video {
  width: 90%;
  margin: auto;
  margin-top: 8px;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--surface);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 5px;
}

div.actions-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
}

h3 {
  padding-top: 2%;
  padding-bottom: 4%;
}
